<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SCG.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SCG.Properties.Settings>
            <setting name="CaIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="databasePath" serializeAs="String">
                <value />
            </setting>
            <setting name="autoUpload" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CertToDisk" serializeAs="String">
                <value>True</value>
            </setting>
        </SCG.Properties.Settings>
    </userSettings>
</configuration>